<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
		<!--<connectionStrings>
			<add name="TenChuoiKetNoi"
				 connectionString="Data Source=LAPTOP-1CIU4QVU;Initial Catalog=myDataBase;User Id=myUsername;Password=myPassword;"
				 providerName="System.Data.SqlClient" />
		</connectionStrings>-->

	<connectionStrings>
		<add name="LAPTOP-1CIU4QVU"
			 connectionString="data source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\FPTShop.mdf;Integrated Security=True;Connect Timeout=30" />
	</connectionStrings>
	
</configuration>