<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.FPTShopConnectionString" connectionString="Data Source=LAPTOP-1CIU4QVU;Initial Catalog=FPTShop;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.FPTShopConnectionString1"
            connectionString="Data Source=THANLaptop\SQLEXPRESS;Initial Catalog=FPTShop;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.FPTShopConnectionString2"
            connectionString="Data Source=THANLaptop\SQLEXPRESS;Initial Catalog=FPTShop;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.FPTShopConnectionString3"
            connectionString="Data Source=LAPTOP-1CIU4QVU;Initial Catalog=FPTShop;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.FPTShopConnectionString4"
            connectionString="Data Source=DESKTOP-0FBCUED\SQLEXPRESS;Initial Catalog=FPTShop;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.FPTShopConnectionString5"
            connectionString="Data Source=DESKTOP-0FBCUED\SQLEXPRESS;Initial Catalog=FPTShop;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>